:root {
    --secondary-color: #6a6a6a;
}

.image_container {
    height: 540px;
    width: 960px;
    border: var(--secondary-color) 1px solid;
    box-shadow: 3px 5px 23px 0px var(--secondary-color);
    position: relative;
}

.image_container > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.carousel_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 41px;
}

.carousel_container > .btn {
    font-size: 95px;
    color: var(--secondary-color);
    cursor: pointer;
}