
:root {
    --secondary-color: #a6a6a6;
}

.content-row {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;

    height: 80px;
    width: 480px;
    margin-bottom: 10px;

    color: #242424;
    font-weight: bold;
    background-color: var(--secondary-color);

    border-radius: 5px;
    border: var(--secondary-color) 1px solid;
    box-shadow: 1px 1px 1px 0px var(--secondary-color);
}
