
:root {
    --other-color: #242424;
    --secondary-color: #a6a6a6;
}

#virtual-container {
    height: 600px;
    overflow: scroll;
}

.content-row {
    /* font inside */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: var(--other-color);
    font-weight: bold;

    /* div */
    height: 60px;
    width: 480px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    border: var(--other-color) 1px solid;
}
